<% provide(:title, "users") %>
<div class="user-wrapper">
    <div class="container clearfix">
            <div class="user-list">
                <% @users.each do |user| %>
                <div class="user">
                    <div class="picture">
                        <%= image_tag get_userimage(user), class: "user-picture" %>
                    </div>
                    <span><%= user.name.blank? ? "noname" : user.name %></span>
                    <div>
                        <div class="follow-btn inline"><span>follow</span></div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
