<% provide(:title, "users") %>
<div class="user-wrapper">
    <div class="container clearfix">
        <div class="user-list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Email</th>
                        <th scope="col">Follow</th>
                        <th scope="col">Follower</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>aaa</td>
                        <td>aaa@aa.aa</td>
                        <td>xx</td>
                        <td>xx</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>aaa</td>
                        <td>aaa@aa.aa</td>
                        <td>xx</td>
                        <td>xx</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
