@import "bootstrap";

.admin-category-wrapper {
  .add-btn-position {
    width: 70%;
    margin: 0 auto 10px auto;
  }

  .add-btn {
    a, span {
      background-color: firebrick;

      input {
        text-align: left;
        background-color: transparent;
        border: none;
      }
    }
  }

  .edit-btn {
    display: inline;
    a {
      background-color: green;
    }
  }

  .del-btn {
    display: inline;
    a {
      background-color: blue;
    }
  }

  a, span {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px;
    opacity: 0.8;
    text-decoration: none;
  }

  a:hover {
    opacity: 1;
  }

  .categories {
    margin: 0 auto;
    width: 70%;
    background-color: floralwhite;

    .category-btn {
      width: 20%;
    }
  }

  .update-info {
    min-height: 65vh;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding: 40px;
      width: 60%;
      background-color: floralwhite;
    }
  }
}