@import "bootstrap";

@mixin btn {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px black;
  opacity: 0.8;
}

@mixin btn-hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.back {
  margin-left: 20px;
}

.admin-category-wrapper {
  .add-btn-position {
    width: 70%;
    margin: 0 auto 10px auto;
  }

  .add-btn {
    a,
    span {
      background-color: firebrick;
      @include btn;

      input {
        color: white;
        text-align: left;
        background-color: transparent;
        border: none;
      }
    }

    a:hover,
    span:hover {
      @include btn-hover();
    }
  }

  .edit-btn {
    display: inline;
    a {
      background-color: green;
      @include btn;
    }

    a:hover,
    span:hover {
      @include btn-hover();
    }
  }

  .del-btn {
    display: inline;
    a {
      background-color: blue;
      @include btn;
    }
    a:hover,
    span:hover {
      @include btn-hover();
    }
  }

  .categories, .words {
    margin: 0 auto;
    width: 70%;
    background-color: floralwhite;

    .category-btn, .word-btn {
      width: 20%;
    }
  }

  .update-info {
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      padding: 40px;
      width: 60%;
      background-color: floralwhite;

      .description {
        min-height: 7em;
      }
    }
  }
}
