<% provide(:title, "[admin] edit category") %>
<div class="admin-category-wrapper">
    <div class="container clearfix">
        <%= link_to "â†back", :back, class: "back" %>
        <%= render 'form', object: "edit" %>
    </div>
</div>