@import "bootstrap";

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.static_pages {
	background-image: image-url('home_image.jpg');
	background-size: cover;
}

.active_pages {
	background-image: image-url('active_page_image.jpg');
	background-size: cover;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

// body
body {
	width: 100%;

	// header
	header {
		background-color: black;

		.nav-link {
			color: white;
			padding: 0 10px;
		}

		.nav-link:hover {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	// error-message
	.error {
		.alert {
			text-align: center;
			margin: 0;
		}

		li {
			color: red;
			font-size: small;
			padding: 0;
		}
	}
	
	// static page form
	.static-page-form {
		width: 400px;
		margin: auto;
	
		h1 {
			text-align: center;
		}
	
		.btn {
			margin-top: 10px;
		}
	}

	// footer
	footer {
		bottom: 0;
		position: absolute;
		width: 100%;
		height: 24px;
		background-color: black;
		text-align: right;
		color: white;

		small {
			margin-right: 20px;
			display: block;
			line-height: 24px;
		}
	}
}