@import "bootstrap";

.color-white {
	color: white;
}

.static_pages {
	background-image: image-url('home_image.jpg');
	background-size: cover;
	width: 100%;
}

// body
body {

	// header
	header {
		background-color: black;

		.nav-link {
			color: white;
			padding: 0 10px;
		}

		.nav-link:hover {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	// error-message
	.error {
		.alert {
			text-align: center;
		}

		li {
			color: red;
			font-size: small;
			padding: 0;
		}
	}
	

	// footer
	footer {
		bottom: 0;
		position: fixed;
		width: 100%;
		height: auto;
		background-color: black;
		text-align: right;
		color: white;

		small {
			margin-right: 20px;
		}
	}
}