@import "bootstrap";

.user-wrapper {
  .left-side {
    float: left;
    width: 30%;

    .user {
      text-align: center;
      margin: auto;

      img {
        height: 100px
      }

      .email {
        line-height: 0.3;
      }

      .follow-form {
        width: 130px;
        margin: 0 auto;

        .follow, .follower {
          width: 65px;
        }

        div {
          float: left;
        }
      }
    }
  }

  .right-side {
    float: right;
    width: 70%;

    .activity {
      width: 90%;
    }

    .update-info {
      width: 70%;
    }

    h2 {
      text-decoration: underline;
    }
  }

  .update-info {
    width: 50%;
    margin: 0 auto;

    .form-control-file {
      font-size: 14px;
    }
  }

  .btn {
    padding: 10px 0 0 0;
  
    a, span {
      color: black;
      padding: 5px 10px;
      background-color: lightblue;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 1px 1px;
      opacity: 0.8;
      text-decoration: none;
    }

    a {
      font-size: smaller;
    }
  
    a:hover, span:hover {
      opacity: 1;
    }
  
    input {
      background-color: transparent;
      border: none;
    }
  }
}