@import "bootstrap";
@import "shared.scss";

.user-wrapper {
  .left-side {
    float: left;
    width: 30%;

    .user {
      text-align: center;
      margin: auto;

      img {
        height: 100px;
      }

      .email {
        line-height: 0.3;
      }

      .follow-form {
        width: 130px;
        margin: 0 auto;

        .follow,
        .follower {
          width: 65px;
        }

        div {
          float: left;
        }
      }
    }
  }

  .right-side {
    float: right;
    width: 70%;

    .activity {
      width: 90%;
    }

    .update-info {
      width: 70%;
    }

    h2 {
      text-decoration: underline;
    }
  }

  .update-info {
    width: 50%;
    margin: 0 auto;

    .form-control-file {
      font-size: 14px;
    }
  }

  .user-btn {
    a,
    span {
      background-color: darkslategrey;
      @include btn;
    }

    a:hover,
    span:hover {
      @include btn-hover();
    }

    input {
      @include input;
    }
  }
}
