<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <%= link_to "E-learning", root_url, class:"navbar-brand" %>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto nav-fill">
                <li class="nav-item">
                    <%= link_to "Sign Up", signup_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Log In", login_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
    </nav>
</header>